<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scd.batch.statistics.dao.AssetsStatDao">

    <sql id="assetsStatColumns">
        ID,
        DATE,
        CURRENT,
        FIX_PLAN,
        FIX_PROJECT,
        BALANCE,
        FROZEN,
        VERSION,
        CREATED,
        MODIFIED
    </sql>

    <resultMap id="assetsStatMap" type="com.scd.batch.common.entity.AssetsStatEntity">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="DATE" property="date" jdbcType="DATE"/>
        <result column="CURRENT" property="current" jdbcType="DOUBLE"/>
        <result column="FIX_PLAN" property="fixPlan" jdbcType="DOUBLE"/>
        <result column="FIX_PROJECT" property="fixProject" jdbcType="DOUBLE"/>
        <result column="BALANCE" property="balance" jdbcType="DOUBLE"/>
        <result column="FROZEN" property="frozen" jdbcType="DOUBLE"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getStatList" resultMap="assetsStatMap">
        select
        <include refid="assetsStatColumns"/>
        from t_assetsstat
        <![CDATA[
		order by DATE DESC
		limit #{num} offset #{start}
		]]>
    </select>


</mapper>